<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651153251065-rsu4tbe6df7ejldbp5okiusn7imq3evf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651153251065-rsu4tbe6df7ejldbp5okiusn7imq3evf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>651153251065-0casuitp6knl7drlclftr3bfuh6sj86s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPFO9w80ZAfJT89-mhN5q4n8iy7RdaWD0</string>
	<key>GCM_SENDER_ID</key>
	<string>651153251065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloomMama</string>
	<key>PROJECT_ID</key>
	<string>bloom-mama</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-mama.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651153251065:ios:428ff18ff21fb708b0a028</string>
</dict>
</plist>